{% extends "gamestradamus/base.html" %}

{% block title %}Frequently Asked Questions / Help{% endblock %}
{% block description %}Learn to get the most out of Gauge.{% endblock %}

{% block header %}
    <article class="faq">
        <div class="title">
            <h1>Frequently Asked Questions / Help</h1>
            <p class="data"></p>
            <p class="instructions">Need help with the website? You've come to the right place.</p>
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="faq">
        <div class="left">

            <h2>About Gauge</h2>
            <ul> 
                <li id="what-happens-when-i-sign-in-through-steam">
                    <h3>What happens when I sign in through Steam?
                        <a href="#">top</a>
                    </h3>
                    <p>
                        Gauge will import the publicly available data about your Steam library from the Steam community website.
                        We don't gain any special or elevated access to your Steam account. Signing in only allows Gauge to identify you 
                        within the Steam community.
                    </p>
                </li>
                <li id="what-is-gauge">
                    <h3>What is Gauge?
                        <a href="#">top</a>
                    </h3>
                    <p>
                        Gauge is an analytic platform for Steam gamers. Mining publicly available data, Gauge can help anyone with a Steam account make better buying decisions, and even save some money. We believe analytics can help individual consumers as much as it helps big business.
                    </p>
                </li>
                <li id="what-are-you-doing-with-my-data">
                    <h3>What are you doing with my data?
                        <a href="#">top</a>
                    </h3>
                    <p>
                        We intend to use your information to provide game consumers with more pertinent analytics for making purchasing decisions. We're turning analytics on its head - we want to use data to empower the individual consumer rather than big businesses.
                    </p>
                    <p>
                        We are strongly against giving away or selling any individual user information to third parties.
                    </p>
                </li>
                <li id="i-want-to-delete-my-profile-where-can-i-do-this">
                    <h3>I want to delete my profile, where can I do this?
                        <a href="#">top</a>
                    </h3>
                    <p>
                        If you've tried Gauge but didn't find it useful and want your personal data (costs, ratings, etc.) deleted, you can sign in and then click&nbsp;<a href="/profile/forget/">here</a>&nbsp;to start the process.
                        Please note that deleting your profile is a permanent change and we cannot retrieve lost data. You may want to export your Library using the CSV export tool beforehand.
                    </p>
                </li>
                <li id="whats-next-for-gauge">
                    <h3>What's next for Gauge?
                        <a href="#">top</a>
                    </h3>
                    <p>
                        <strong>Multi-Currency Support</strong>&nbsp;&mdash; We're working to bring multi-currency support for those of you that are outside of the US / Canada. In the mean time, go ahead and enter your personal costs as if dollars were equal to your local currency. When we roll this feature out, we won't change your costs when you switch from dollars.
                    </p>
                    <p>
                        <strong>Predictions</strong>&nbsp;&mdash; We are currently working on providing personalized predictions to enhance the community wide statistics that are current available. Instead of using every member of the Gauge community to make predictions, we'll be grouping similar gamers together to provide our members more accurate predictions, based on their actual gameplay behaviour.
                    </p>
                </li>
            </ul>

            <h2>Your Game Library</h2>
            <ul>
                <li id="how-does-gauge-know-how-long-ive-played-my-games">
                    <h3>How does Gauge know how long I've played my games?
                        <a href="#">top</a>
                    </h3>
                    <p>
                        Steam records how long you've played a game and publishes that information on its&nbsp;<a href="http://steamcommunity.com" target="_blank">community website</a>.
                        Gauge merely imports that data into your Gauge Library. Every time you sign into Gauge, the hours you've played, and any new games you've bought, are imported automatically from Steam.
                        You can also manually import changes from Steam by clicking the update link on the top of your Library page.
                    </p>
                </li>
                <li id="why-should-i-care-about-cost-per-hour">
                    <h3>Why should I care about cost per hour?
                        <a href="#">top</a>
                    </h3>
                    <p>
                        At its core, Gauge tries to present the most relevant numbers to help you make better purchasing decisions.
                        We feel that the cost paid for a game, divided by the amount of time that game is played,
                        provides a good statistic for evaluating games. The lower the average cost per hour, the 
                        better ‘value’ Gauge ascribes to the game.
                    </p>
                </li>

                <li id="what-is-my-gauge-value">
                    <h3>What is my Gauge Value?
                        <a href="#">top</a>
                    </h3>
                    <p>
                        Gauge calculates an average cost per hour across your entire Library. This is your personal Gauge Value. 
                        If you find a game with a lower average cost than your Gauge Value, it should be a good buy.
                    </p>
                </li>
                <li id="the-prices-in-my-cost-column-are-wrong">
                    <h3>The prices in my cost column are wrong?
                        <a href="#">top</a>
                    </h3>
                    <p>
                        When Gauge first imports your Library, the cost column is pre-populated with the last known Steam price for each game. This won't always reflect what you paid, but it’s a decent place to start. To get the most out of Gauge, you’re encouraged to add in the actual cost that you paid for each game, so your Gauge Value becomes even more accurate.  
                    </p>
                </li>
                <li id="i-dont-remember-what-i-paid-for-a-game-what-can-i-do">
                    <h3>I don't remember what I paid for a game, what can I do?
                        <a href="#">top</a>
                    </h3>
                    <p>    
                        The first place to look is directly on Steam. 
                        You can view your store transactions by clicking&nbsp;<a href="https://store.steampowered.com/account/" target="_blank">here</a>.
                    </p>
                    <p>
                        Unfortunately Steam doesn't show the cost for every game in your Library.
                        Games that were gifted to you, or included in a bundle won't have 
                        individual price breakdowns.
                    </p>
                    <p>
                        If you can't find every price directly from Steam, the next best thing
                        will be to use a third party price tracking site to make a guess at
                        what you paid. You can also check your credit card or banking records
                        to see if you can find the information there.
                    </p>
                </li>
                <li id="how-accurate-should-my-costs-be">
                    <h3>How accurate should my costs be?
                        <a href="#">top</a>
                    </h3>
                    <p>
                        That is entirely up to you. Gauge works best when numbers are personalized, so your ‘average cost’ 
                        and Gauge Value gets better as you edit your numbers. Of course some folks need precision, while others like 
                        to approximate. Choose what works best for you.
                    </p>
                </li>
                <li id="the-hours-recorded-by-steam-are-wrong-what-can-i-do">
                    <h3>The hours recorded by Steam are wrong, what can I do?
                        <a href="#">top</a>
                    </h3>
                    <p>
                        We know that Steam isn't 100% accurate when recording hours played. Sometimes they miss time, and obviously they can’t track how long you played Skyrim outside of Steam. So Gauge lets you update the hours you played with more accurate values. Add or subtract time when you know Steam isn't correct. This makes your Gauge Value even more accurate. 
                    </p>
                </li>
                <li id="ive-updated-my-hours-played-will-my-changes-get-overwritten-later">
                    <h3>I've updated my hours played, will my changes get overwritten later?
                        <a href="#">top</a>
                    </h3>
                    <p>
                        Gauge maintains two values for hours played. One comes from Steam, the other comes from you. When Gauge pulls updates from Steam, only the Steam hours get updated. Keeping the values separate should keep the total hours accurate. 
                    </p>
                </li>
                <li id="what-is-the-ignore-game-list">
                    <h3>What is the "ignored game" list?
                        <a href="#">top</a>
                    </h3>
                    <p>
                        Steam includes items in your Library that are unsuitable to include on Gauge. Downloadable content, demos, betas, and extras are examples of miscellaneous stuff that just skews your Gauge Value. Add them to your ignored games list, and include their cost and play time into other items in your Library. You can do this by clicking the "ignore game" button, located beside each item in your Library.
                    </p>
                </li>
                <li id="can-i-mark-games-in-my-library-as-finished">
                    <h3>Can I mark games in my Library as finished?
                        <a href="#">top</a>
                    </h3>
                    <p>
                        Yes! You can click the checkbox next to each game in Your Library to indicate that you've finished playing a game. Once you've marked the games you want, you can toggle between
                        viewing your library with finished and unfinished games filtered out by using the dropdown menu in the column header.
                    </p>
                </li>
            </ul>

            <h2>The Watchlist</h2>
            <ul>
                <li>
                    <p>
                        Gauge provides a Watchlist, where you can add games that you want to track. When games hit the price you designate, Gauge highlights the game, letting you know it’s time to buy. 
                    </p>
                </li>

                <li id="what-can-i-enter-in-the-notification-limit-field">
                    <h3>What can I enter in the notification limit field?
                        <a href="#">top</a>
                    </h3>
                    <p>
                        Numbers which are interpreted as dollar values: 5, 5.5, 5.50, $5.50, $1,000, etc.
                    </p>
                    <p>
                        +/- percentages which will be used to calculate a dollar value:<br>
                        &nbsp;&nbsp;25% = 0.25 * price.<br>
                        &nbsp;-25% = (1 - 0.25) * price.
                    </p>
                </li>

                <li id="why-track-cost-per-hour-in-the-watchlist">
                    <h3>Why track cost per hour in the Watchlist?
                        <a href="#">top</a>
                    </h3>
                    <p>
                        Gauge always maintains the cost per hour of every game. They can change dramatically if there is a Steam sale, or as a new game is played by more people. The Watchlist lets you track this number as another way to make sure you don’t miss any great deals. 
                    </p>
                </li>
            </ul>

            <h2>Steam Private Profile</h2>
            <ul>
                <li id="why-am-i-seeing-a-private-profile-warning">
                    <h3>Why am I seeing a private profile warning?
                        <a href="#">top</a>
                    </h3>
                    <p>
                        You have set your profile as private within the Steam Community. Unfortunately, Gauge requires your Steam profile be public so that it can update your
                        library information. We don't yet have a way to crawl your data when your Steam profile has been marked as private.
                    </p>
                </li>
                <li id="how-do-i-update-my-steam-privacy-settings">
                    <h3>How do I update my Steam privacy settings?
                        <a href="#">top</a>
                    </h3>
                    <ol>
                        <li>Open your Steam account privacy settings.</li>
                        <li>
                            Under "Profile Status" click "Public - Viewable by anyone on the World-wide-web":
                            <img class="example" src="/images/steam-privacy-settings.jpg">
                        </li>
                        <li>Click "Save Changes" at the bottom of the page.</li>
                        <li>Close the Steam page.</li>
                        <li>Click the update link on Your Library page.</li>
                    </ol>
                </li>
            </ul>
        </div>
        <div class="right">
            <strong>About Gauge</strong>
            <ul>
                <li><a href="#what-happens-when-i-sign-in-through-steam">What happens when I sign in through Steam?</a></li>
                <li><a href="#what-is-gauge">What is Gauge?</a></li>
                <li><a href="#what-are-you-doing-with-my-data">What are you doing with my data?</a></li>
                <li><a href="#i-want-to-delete-my-profile-where-can-i-do-this">I want to delete my profile, where can I do this?</a></li>
                <li><a href="#whats-next-for-gauge">What's next for Gauge?</a></li>
            </ul>

            <strong>Your Game Library</strong>
            <ul>
                <li><a href="#how-does-gauge-know-how-long-ive-played-my-games">How does Gauge know how long I've played my games?</a></li>
                <li><a href="#why-should-i-care-about-cost-per-hour">Why should I care about cost per hour?</a></li>
                <li><a href="#what-is-my-gauge-value">What is my Gauge value?</a></li>
                <li><a href="#the-prices-in-my-cost-column-are-wrong">The prices in my cost column are wrong?</a></li>
                <li><a href="#i-dont-remember-what-i-paid-for-a-game-what-can-i-do">I don't remember what I paid for a game, what can I do?</a></li>
                <li><a href="#how-accurate-should-my-costs-be">How accurate should my costs be?</a></li>
                <li><a href="#the-hours-recorded-by-steam-are-wrong-what-can-i-do">The hours recorded by Steam are wrong, what can I do?</a></li>
                <li><a href="#ive-updated-my-hours-played-will-my-changes-get-overwritten-later">I've updated my hours played, will my changes get overwritten later?</a></li>
                <li><a href="#what-is-the-ignore-game-list">What is the "ignore game" list?</a></li>
                <li><a href="#can-i-mark-games-in-my-library-as-finished">Can I mark games in my Library as finished?</a></li>
            </ul>

            <strong>The Watchlist</strong>
            <ul>
                <li><a href="#what-can-i-enter-in-the-notification-limit-field">What can I enter in the notification limit field?</a></li>
                <li><a href="#why-track-cost-per-hour-in-the-watchlist">Why track cost per hour in the Watchlist?</a></li>
            </ul>

            <strong>Steam Private Profile</strong>
            <ul>
                <li><a href="#why-am-i-seeing-a-private-profile-warning">Why am I seeing a private profile warning?</a></li>
                <li><a href="#how-do-i-update-my-steam-privacy-settings">How do I update my steam-privacy-settings?</a></li>
            </ul>
        </div>  
    </article>
{% endblock %}
