{% extends "gamestradamus/base.html" %}
{% block title %}Your Ignored Games{% endblock %}

{% block header %}
    <article class="your-games">
        <div class="title">
            <h1>Your Ignored Games</h1>
            <div class="actions"></div>
            <p class="instructions">
                The list of games that you have chosen to ignore. 
            </p>
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="your-games">
        {% if results %}  
            <table id="game_list">
            <thead>
                <tr>
                    <th></th>
                    <th><a>Game</a></th>
                    <th><a class="sort-descending">Hours Played</a></th>
                    <th>Restore</th>
                </tr>
            </thead>
            <tbody>
            {% for user_account_game, game in results %}
                {% if user_account_game.ignore %}
                <tr id="game-{{ game.id }}" class="game {{ loop.cycle("odd", "") }}" data-game-id="{{ game.id }}" data-user-account-game-id="{{ user_account_game.id }}">
                    <td class="pos left-edge"><div>{{ loop.index }}</div></td>
                    <td class="name">
                        <a href="/profile/game/{{ game.id }}/">
                            <img 
                                {% if game.logo %}
                                    src="{{ game.logo }}"
                                {% else %}
                                    src="{{ request.config['gauge.steam_cdn'] }}{{ game.app_id }}/capsule_sm_120.jpg"
                                {% endif %}
                                width="91" height="35">
                            <h4 class="name">{{ game.name }}</h4>
                        </a><br>
                        <div class="tools">
                            {% if game.genre %}
                                <div class="genre">
                                    {{ game.genre }}
                                </div>
                            {% endif %}

                            <div class="tag-list">
                                {% if user_account_game.tags %}
                                    {% for tag in user_account_game.tags.split('|') %}
                                        <a 
                                            class="tag color-{{ color_hash(tag|tag_group|default('', True)) }}"
                                            data-tag-name="{{ tag }}"
                                            title="{{ tag }}"
                                        >
                                            {{ tag|tag_name }}
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </td> 
                    <td class="center">
                        {{ user_account_game.steam_hours_played|default(0, True) + user_account_game.custom_hours_played|default(0, True) }}
                    </td>
                    <td class="ignore right-edge">
                        <div><a class="ignore-game" title="restore '{{ game.name }}' to your library">+</a></div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
            </table>
        {% else %}
            <p>You have no ignored games.</p>
        {% endif %}
    </article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        require(["gamestradamus/your-ignored-games"], function(init) { init(); });
    </script>
{% endblock %}
